@charset "utf-8"
body {
background-color: #e6e6fa;
color: #191970;
font-family: Arial, Helvetica, sans-serif;
    }
#primeiro_nome {
background-color: yellow;
}    
p#sobrenome {
background-color: green;
}
body {
color: blue;    
}
