@charset "utf-8";
body {
 background-color: #5e1caa;
 color: #ffffff;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
 background-color: #eeff00;
 color: rgb(0, 0, 0);
 text-align: center;
 line-height: 200%;
 font-family: Georgia, “Times New Roman”, serif;
 padding: 0.5em;
 font-family: bolina;
}
img {
 height: 240px;
 width: 320px;
}
figure {
 width: 320px;
 padding: 5px;
 border: 2px solid #fdfdfd;
}
figcaption {
 text-align: center;
 font-family: Papyrus, fantasy;
}
footer {
 color: #ffffff;
 font-size: .75em;
 font-style: italic;
 font-family: 'Courier New', Courier, monospace;
}

