section {
    border: 1px solid blue;
    width: 100%;
    float: left;
}

div {
    margin: 10px;
    height: 150px;
}

.esquerda {
    float: above;
    background: pink;
}

.direita {
    float: below;
    background: pink;
}
  